.animation{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background: linear-gradient(179.67deg, #0F0C29 10.73%, rgba(66, 134, 244, 0.58) 45.75%, #0F0C29 82.54%);
    
}